﻿@model IEnumerable<Tarea_2.Models.AsientFijo>
@{
    ViewBag.Title = "Home Page";
}

<h2>Asientos fijos</h2>

<div>
    @Html.ActionLink("Importar Json", "ImportJson", null, new { @class = "btn btn-secondary" })
</div>

<table class="table">
    <thead>
        <tr>
            <th>Descripcion</th>
            <th>FechaDetalle</th>
            <th>CuentaContable</th>
            <th>Monto</th>
            <th>Descuento</th>
            <th>SubTotal</th>
            <th>Referencia</th>
            <th>ReferenciaDescripcion</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>@item.Descripcion</td>
                    <td>@item.FechaDetalle</td>
                    <td>@item.CuentaContable</td>
                    <td>@item.Monto</td>
                    <td>@item.Descuento</td>
                    <td>@item.SubTotal</td>
                    <td>@item.Referencia</td>
                    <td>@item.ReferenciaDescripcion</td>
                </tr>
            }
        }

    </tbody>
</table>