﻿@model IEnumerable<Creador_Json.Models.AsientFijo>

@{
    ViewBag.Title = "Lista";
}

<h2>Asientos fijos</h2>

<p>
    @Html.ActionLink("Crear Asiento", "Create", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Crear Json", "ExportJson", null, new { @class = "btn btn-success" })
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDetalle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CuentaContable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descuento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Referencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReferenciaDescripcion)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDetalle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CuentaContable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descuento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubTotal)
        </td>
        <td>
            @if (item.Referencia == null)
            {
                @Html.Display("Datos vacios");
            }
                @Html.DisplayFor(modelItem => item.Referencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenciaDescripcion)
        </td>
    </tr>
}

</table>